<strong>Edit Song:</strong>
<h1><%= @song.name%></h1>
<p><%= @error %><p>

<form action='/songs/<%=@song.id%>' method='post'>
    <input type='hidden' name='_method' value='patch'>
    <label>Song Name:</label><br>
        <input type="text" name='song[name]' value='<%=@song.name%>'><br><br>
    <label>Song Artist:</label><br>
        <input type="text" name='song[artist]' value='<%=@song.artist%>'><br><br>
    <label>Song Chords:</label><br>
        <textarea name='song[chords]'><%=@song.chords%></textarea><br><br>

<form action='/songs/<%= @song.id %>' method='get'>
    <input type='submit' value='Submit Changes'>
</form>

<form action='/songs/<%= @song.id %>' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Song'>
</form>